 <div class="container-fluid">
<br>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Liste des livreurs inscrits</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tableau livreurs</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom livreur</th>
                                            <th>Email</th>
                                            <th>Tel</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                         @for (item of allUsers; track $index) {
                                        <tr>
                                            <td>{{ item.nom }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.tel }}</td>
                                        </tr>
                                      }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
