<div class="container-fluid">
  <br>
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Liste des agents inscrits</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tableau Agents</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom agent</th>
              <th>Email</th>

              <th>Telephone</th>
              <th>photo</th>
              <th>compte</th>
              <th>modifier</th>
            </tr>
          </thead>

          <tbody>
            @for (item of allUsers; track $index) {
            <tr>
              <td>{{ item.nom }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.tel }}</td>
              <td><img src="{{ item.image }}" class="img-cercle" /></td>
              @if (item.isAcount) {
              <td>Actif</td>
              }@else {
              <td>InActif</td>
              }
              <td>
                <button class="btn-bleu" (click)="update(item)">update</button>
              </td>
            </tr>
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
